<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Código</th>
        <th>Ícono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca3) {
        <tr>
          <th>{{ country.cca3 }}</th>
          <th>{{ country.flag }}</th>
          <td><img src="{{ country.flagSvg }}" alt="{{ country.name }} flag" width="50"></td>
          <td>{{ country.name }}</td>
          <td>{{ country.capital ? country.capital[0] : 'N/A' }}</td>
          <td class="badge badge-secondary">{{ country.population | number }}</td>
          <td>
            <a href="#" class="link-primary cursor-pointer">Más información</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
