<section class="mx-10">
  <h1 class="text-2xl">Nombre: {{ country().name }}</h1>
  <h2 class="text-xl font-thin">{{ country().population | number }}</h2>
</section>

<section class="flex items-center justify-center">
  <div class="stats shadow">
    <div class="stat place-items-center">
      <div class="stat-title">Población</div>
      <div class="stat-value">{{ country().population | number }}</div>
      <div class="stat-desc">Desde {{ currentYear() }}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Nombre</div>
      <div class="stat-value text-secondary">{{ country().name }}</div>
      <div class="stat-desc text-secondary">{{ country().region }}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Sub región</div>
      <div class="stat-value">{{ country().subRegion }}</div>
      <div class="stat-desc text-secondary">{{ country().region }}</div>
    </div>
  </div>
</section>

<section>
  <figure class="diff aspect-video" tabindex="0">
  <div class="diff-item-1" role="img" tabindex="0">
    <img [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <div class="diff-item-2" role="img">
    <img
      class="blur brightness-75"
      [alt]="country().name" [src]="country().flagSvg"
    />
  </div>
  <div class="diff-resizer"></div>
</figure>
</section>
